html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.button-buy {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  border: none;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  font-family: Helvetica Neue, serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  transition: all .3s, color .3s;
  display: inline-flex;
}

@media (width >= 640px) {
  .button-buy {
    width: 100px;
  }
}

@media (width >= 1280px) {
  .button-buy {
    width: 102px;
  }
}

.button-send {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #39bebf;
  border: none;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  font-family: Helvetica Neue, serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  transition: all .3s, color .3s;
  display: inline-flex;
}

@media (width >= 640px) {
  .button-send {
    width: 100px;
  }
}

@media (width >= 1280px) {
  .button-send {
    width: 102px;
  }
}

.button-homepage {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #0db2b3;
  background: #f9f9f9;
  border: 1px solid #0db2b3;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue, serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  transition: all .3s, color .3s;
  display: inline-flex;
}

.button-add-to-cart {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #333;
  background: #f9f9f9;
  border: 1px solid #333;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue, serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  transition: all .3s, color .3s;
  display: inline-flex;
}

.button-see-more {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #0db2b3;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: Inter, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-decoration: none;
  transition: all .3s, color .3s;
  display: inline-flex;
  position: relative;
}

.button-return-to-cart {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #4f4f4f;
  background: #f8f9fa;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue, serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  transition: all .3s, color .3s;
  display: inline-flex;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("Roboto-Regular-webfont.015d4426.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.maintext {
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.secondary {
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.thirdary {
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h1 {
  text-transform: uppercase;
  font-family: Inter, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

@media (width >= 744px) {
  h1 {
    font-size: 48px;
    line-height: 62px;
  }
}

@media (width >= 1280px) {
  h1 {
    font-size: 62px;
    line-height: 78px;
  }
}

h2 {
  text-transform: uppercase;
  font-family: Inter, serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 744px) {
  h2 {
    font-size: 36px;
    line-height: 46px;
  }
}

@media (width >= 1280px) {
  h2 {
    font-size: 56px;
    line-height: 70px;
  }
}

h3 {
  text-transform: uppercase;
  font-family: Inter, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@media (width >= 744px) {
  h3 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (width >= 1280px) {
  h3 {
    font-size: 34px;
    line-height: 42px;
  }
}

h4 {
  text-transform: uppercase;
  font-family: Inter, serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

h5 {
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

h6 {
  text-transform: uppercase;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.quote {
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@media (width >= 744px) {
  .quote {
    font-size: 24px;
    line-height: 36px;
  }
}

.button-return-to-cart, .button-see-more, .button-add-to-cart, .button-homepage, .button-send, .button-buy {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue, serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  transition: all .3s, color .3s;
  display: inline-flex;
}

.button-send, .button-buy {
  color: #fff;
  width: 260px;
  height: 48px;
}

@media (width >= 744px) {
  .button-send, .button-buy {
    width: 100px;
  }
}

@media (width >= 1280px) {
  .button-send, .button-buy {
    width: 102px;
  }
}

.button-buy {
  background-color: #333;
}

.button-buy:hover {
  background: #131313;
}

.button-buy:disabled {
  cursor: not-allowed;
  background: #d0d0d0;
}

.button-send {
  background-color: #39bebf;
  width: 102px;
  height: 40px;
}

@media (width >= 1280px) {
  .button-send {
    width: 124px;
    height: 48px;
  }
}

.button-send:hover {
  background: #0c797a;
}

.button-send:disabled {
  cursor: not-allowed;
  background: #cfeff0;
}

.button-return-to-cart, .button-see-more, .button-add-to-cart, .button-homepage {
  background: #f8f9fa;
}

.button-homepage {
  color: #0db2b3;
  background-color: #f9f9f9;
  border: 1px solid #0db2b3;
}

.button-homepage:hover {
  color: #fff;
  background: #0c797a;
}

.button-add-to-cart {
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #333;
}

.button-add-to-cart:hover {
  color: #fff;
  background: #131313;
}

.button-see-more {
  color: #0db2b3;
  padding: 0;
  font-family: Inter, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-decoration: none;
  position: relative;
}

.button-see-more:after {
  content: "";
  background-color: #0db2b3;
  width: 50%;
  height: 1px;
  transition: width .3s;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.button-see-more:hover:after {
  width: 100%;
}

.button-return-to-cart {
  color: #4f4f4f;
  font-weight: 400;
}

.button-return-to-cart:hover {
  background-color: #f9f9f9;
  border: 1px solid #333;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
}

.main {
  box-sizing: border-box;
  color: #333;
  place-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.header {
  box-sizing: border-box;
  background: #f9f9f9;
  max-width: 1200px;
  margin: 0 auto;
}

@media (width >= 744px) {
  .header {
    max-width: 700px;
    padding-bottom: 142px;
  }
}

@media (width >= 1280px) {
  .header {
    max-width: 1200px;
    padding: 30px 0 90px;
  }
}

.navmenu {
  padding: 0 30px;
}

@media (width >= 744px) {
  .navmenu {
    padding: 0;
  }
}

.navmenu__container {
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo"
                       "right";
  display: grid;
}

@media (width >= 744px) {
  .navmenu__container {
    grid-template-rows: repeat(1, 76px);
    grid-template-columns: repeat(8, 70px);
    gap: 0 20px;
  }
}

@media (width >= 1280px) {
  .navmenu__container {
    grid-template-rows: 48px;
    grid-template-columns: repeat(12, 72px);
    gap: 0 30px;
  }
}

.navmenu__logo {
  width: 161px;
  height: 26px;
  padding-top: 25px;
}

@media (width >= 744px) {
  .navmenu__logo {
    grid-area: 1 / 1 / auto / 5;
    align-self: center;
    padding: 0;
  }
}

@media (width >= 1280px) {
  .navmenu__logo {
    grid-area: 1 / 1 / auto / 5;
  }
}

@media (width >= 744px) {
  .navmenu__right {
    flex-direction: row;
    grid-area: 1 / 8 / auto / 9;
    place-self: center flex-end;
    gap: 30px;
    padding: 0;
    display: flex;
  }
}

@media (width >= 1280px) {
  .navmenu__right {
    grid-area: 1 / 12 / auto / 13;
    justify-self: flex-end;
  }
}

.navmenu__disappear {
  display: none;
}

@media (width >= 744px) {
  .navmenu__disappear {
    flex-direction: row;
    grid-area: 1 / 8 / auto / 9;
    align-self: center;
    gap: 30px;
    padding: 0;
    display: flex;
  }
}

.navmenu__item {
  color: #4f4f4f;
  font-family: Helvetica Neue, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
}

@media (width >= 744px) {
  .navmenu__item {
    align-self: center;
    padding: 0;
  }
}

@media (width >= 1280px) {
  .navmenu__item {
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.navmenu .navmenu__language {
  cursor: pointer;
  align-items: center;
  gap: 5px;
  font-family: Helvetica Neue, serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
}

.navmenu .navmenu__language .navmenu__language--switch {
  color: #bdbdbd;
  font-weight: 400;
  transition: color .3s;
}

@media (width >= 1280px) {
  .navmenu .navmenu__language .navmenu__language--switch {
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.navmenu .navmenu__language .navmenu__language--switch.active {
  color: #333;
}

.navmenu .navmenu__language .navmenu__language--switch:hover {
  color: #333;
  transition: color;
}

.navmenu__icon {
  width: 24px;
  height: 24px;
  padding-top: 30px;
}

@media (width >= 744px) {
  .navmenu__icon {
    align-self: center;
    padding: 0;
  }
}

@media (width >= 1280px) {
  .navmenu__icon {
    display: none;
  }
}

.navmenu__icon--menu {
  width: 24px;
  height: 16px;
}

.section {
  padding: 0 0 110px;
}

@media (width >= 744px) {
  .section {
    padding: 0 0 140px;
  }
}

@media (width >= 1280px) {
  .section {
    padding: 0 0 170px;
  }
}

.sectionone {
  text-align: left;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 40px;
  display: grid;
}

@media (width >= 744px) {
  .sectionone {
    grid-template-columns: repeat(8, 70px);
    align-items: center;
    gap: 20px;
    padding: 0 34px 140px;
  }
}

@media (width >= 1280px) {
  .sectionone {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
    padding: 0 0 170px;
  }
}

.sectionone__content {
  gap: 20px;
  padding: 0 30px;
  display: grid;
}

@media (width >= 744px) {
  .sectionone__content {
    grid-area: 1 / 1 / auto / 5;
    padding: 0;
  }
}

@media (width >= 1280px) {
  .sectionone__content {
    grid-area: 1 / 1 / auto / 6;
    padding-left: 0;
    padding-right: 0;
  }
}

.sectionone__content--header, .sectionone__content--paragraph {
  margin: 0;
}

@media (width >= 744px) {
  .sectionone__content--paragraph {
    max-width: 250px;
  }
}

.sectionone__img {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sectionone__img--element {
  object-fit: cover;
  object-position: 0;
  width: 320px;
  height: 245px;
}

@media (width >= 744px) {
  .sectionone__img {
    grid-area: 1 / 4 / auto / 9;
  }

  .sectionone__img img {
    width: 430px;
    height: 317px;
  }
}

@media (width >= 1280px) {
  .sectionone__img {
    grid-area: 1 / 6 / auto / 12;
  }

  .sectionone__img img {
    width: 816px;
    height: 464px;
  }
}

.sectiontwo {
  padding-left: 30px;
  padding-right: 30px;
}

@media (width >= 744px) {
  .sectiontwo {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media (width >= 1280px) {
  .sectiontwo {
    padding-left: 0;
    padding-right: 0;
  }
}

.sectiontwo__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (width >= 744px) {
  .sectiontwo__container {
    flex-flow: wrap;
    gap: 65px 20px;
    width: 700px;
  }
}

@media (width >= 1280px) {
  .sectiontwo__container {
    flex-flow: row;
    column-gap: 30px;
    width: 1194px;
  }
}

.sectiontwo__content {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: none;
}

.sectiontwo__content:first-child {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media (width >= 744px) {
  .sectiontwo__content {
    flex-basis: 48%;
    align-items: center;
    width: 340px;
    display: flex;
  }

  .sectiontwo__content__content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

@media (width >= 1280px) {
  .sectiontwo__content {
    align-items: center;
    height: 286px;
    display: flex;
  }

  .sectiontwo__content__content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

.sectiontwo__content--compasses {
  width: 50px;
  height: 40px;
}

@media (width >= 1280px) {
  .sectiontwo__content--compasses {
    width: 50px;
    height: 42px;
  }
}

.sectiontwo__content--volum {
  width: 46px;
  height: 40px;
}

@media (width >= 1280px) {
  .sectiontwo__content--volum {
    width: 46px;
    height: 42px;
  }
}

.sectiontwo__content--wifi {
  width: 46px;
  height: 37px;
}

@media (width >= 1280px) {
  .sectiontwo__content--wifi {
    width: 46px;
    height: 38px;
  }
}

.sectiontwo__content--sun {
  width: 44px;
  height: 44px;
}

@media (width >= 1280px) {
  .sectiontwo__content--sun {
    width: 44px;
    height: 46px;
  }
}

.sectiontwo__header {
  padding: 40px 0 20px;
}

@media (width >= 744px) {
  .sectiontwo__header {
    padding: 50px 0 0;
  }
}

@media (width >= 1280px) {
  .sectiontwo__header {
    padding: 30px 0 0;
  }
}

@media (width >= 744px) {
  .sectiontwo__paragraph--one {
    padding-top: 20px;
  }
}

@media (width >= 1280px) {
  .sectiontwo__paragraph--one {
    padding-top: 52px;
  }
}

@media (width >= 744px) {
  .sectiontwo__paragraph--three {
    padding-top: 21px;
  }
}

@media (width >= 1280px) {
  .sectiontwo__paragraph--three {
    padding-top: 52px;
  }
}

@media (width >= 744px) {
  .sectiontwo__paragraph--two {
    padding-top: 21px;
  }
}

@media (width >= 1280px) {
  .sectiontwo__paragraph--two {
    padding-top: 24px;
  }
}

@media (width >= 744px) {
  .sectiontwo__paragraph--four {
    padding-top: 21px;
  }
}

@media (width >= 1280px) {
  .sectiontwo__paragraph--four {
    padding-top: 24px;
  }
}

.sectiontwo__menu {
  display: none;
}

@media (width >= 1280px) {
  .sectiontwo__menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 62px;
    display: flex;
  }

  .sectiontwo__menu .links__list {
    flex-direction: row;
    gap: 84px;
    padding: 28px 0;
    text-decoration: none;
    list-style: none;
    display: flex;
  }

  .sectiontwo__menu .links__item--story, .sectiontwo__menu .links__item--us, .sectiontwo__menu .links__item--features {
    width: 85px;
  }

  .sectiontwo__menu .links__item--touch {
    width: 120px;
  }

  .sectiontwo__menu .links__link {
    color: #333;
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
  }

  .sectiontwo__menu .links__link:hover, .sectiontwo__menu .links__link:active {
    text-transform: uppercase;
    color: #131313;
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
}

.sectionthree__container {
  box-sizing: border-box;
  background-image: url("picture2.3299b9bd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  width: 296px;
  height: 195px;
  display: flex;
}

@media (width >= 744px) {
  .sectionthree__container {
    width: 700px;
    height: 430px;
  }
}

@media (width >= 1260px) {
  .sectionthree__container {
    width: 846px;
    height: 520px;
  }
}

.sectionfour {
  text-align: left;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 20px;
  padding: 0 35px 110px;
  display: grid;
  position: relative;
}

@media (width >= 744px) {
  .sectionfour {
    grid-template-columns: repeat(8, 70px);
    align-items: center;
    gap: 20px;
    padding: 0 0 140px;
  }
}

@media (width >= 1280px) {
  .sectionfour {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
    padding: 0 0 170px;
  }
}

.sectionfour__header {
  order: -1;
  justify-self: self-start;
  margin: 0;
  padding-bottom: 10px;
}

@media (width >= 744px) {
  .sectionfour__header {
    text-align: left;
    order: 0;
    grid-area: 1 / 5 / auto / 9;
    position: absolute;
    top: 0;
  }
}

@media (width >= 1280px) {
  .sectionfour__header {
    grid-area: 1 / 6 / auto / 12;
    position: absolute;
    top: 0;
    left: 105px;
  }
}

.sectionfour__img {
  order: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sectionfour__img img {
  object-fit: cover;
  object-position: center;
  width: 259px;
  max-width: 100%;
  height: 210px;
}

@media (width >= 744px) {
  .sectionfour__img {
    order: 0;
    grid-area: 1 / 1 / auto / 5;
  }

  .sectionfour__img img {
    object-position: -100px;
    width: 374px;
    height: 415px;
  }
}

@media (width >= 1280px) {
  .sectionfour__img {
    grid-area: 1 / 1 / auto / 7;
  }

  .sectionfour__img img {
    object-position: 14px;
    width: 582px;
    height: 388px;
  }
}

.sectionfour__content {
  flex-direction: column;
  order: 1;
  gap: 30px;
  display: flex;
}

@media (width >= 744px) {
  .sectionfour__content {
    text-align: left;
    order: 0;
    grid-area: 1 / 5 / auto / 9;
    gap: 60px;
    position: absolute;
    top: 122px;
  }
}

@media (width >= 1280px) {
  .sectionfour__content {
    grid-area: 1 / 6 / auto / 12;
    gap: 60px;
    position: absolute;
    top: 170px;
    left: 107px;
  }
}

.sectionfour__content--paragraph {
  color: #7c7c7c;
  margin: 0;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (width >= 744px) {
  .sectionfour__content--paragraph {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.sectionfifth {
  text-align: left;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 20px;
  padding: 0 35px 110px;
  display: grid;
  position: relative;
}

@media (width >= 744px) {
  .sectionfifth {
    grid-template-columns: repeat(8, 70px);
    align-items: center;
    gap: 20px;
    padding: 0 0 140px;
  }
}

@media (width >= 1280px) {
  .sectionfifth {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
    padding: 0 0 170px;
  }
}

.sectionfifth__header {
  text-align: left;
  order: -1;
  justify-self: self-start;
  margin: 0;
  padding-bottom: 10px;
}

@media (width >= 744px) {
  .sectionfifth__header {
    text-align: left;
    order: 0;
    grid-area: 1 / 1 / auto / 5;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (width >= 1280px) {
  .sectionfifth__header {
    grid-area: 1 / 1 / auto / 7;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.sectionfifth__img {
  order: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sectionfifth__img img {
  object-fit: cover;
  object-position: center;
  width: 259px;
  max-width: 100%;
  height: 210px;
}

@media (width >= 744px) {
  .sectionfifth__img {
    order: 0;
    grid-area: 1 / 5 / auto / 9;
  }

  .sectionfifth__img img {
    width: 374px;
    height: 415px;
  }
}

@media (width >= 1280px) {
  .sectionfifth__img {
    grid-area: 1 / 7 / auto / 13;
  }

  .sectionfifth__img img {
    width: 582px;
    height: 388px;
  }
}

.sectionfifth__content {
  flex-direction: column;
  order: 1;
  gap: 30px;
  display: flex;
}

@media (width >= 744px) {
  .sectionfifth__content {
    text-align: left;
    order: 0;
    grid-area: 1 / 1 / auto / 5;
    gap: 60px;
    position: absolute;
    top: 76px;
    left: 0;
  }
}

@media (width >= 1280px) {
  .sectionfifth__content {
    grid-area: 1 / 1 / auto / 7;
    gap: 60px;
    position: absolute;
    top: 100px;
    left: 0;
  }
}

.sectionfifth__content--paragraph {
  color: #7c7c7c;
  margin: 0;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (width >= 744px) {
  .sectionfifth__content--paragraph {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.sectionsix {
  text-align: center;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 20px;
  padding: 0 30px 110px;
  display: grid;
}

@media (width >= 744px) {
  .sectionsix {
    padding: 0 34px 140px;
  }
}

@media (width >= 1280px) {
  .sectionsix {
    padding: 0 34px 140px;
  }
}

.sectionsix__container {
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 700px;
  display: grid;
}

@media (width >= 744px) {
  .sectionsix__container {
    gap: 40px;
    max-width: 786px;
  }
}

@media (width >= 1280px) {
  .sectionsix__container {
    gap: 0;
  }
}

.sectionsix__container--img {
  grid-area: 1 / 1 / auto / 2;
  justify-content: center;
  align-items: center;
}

.sectionsix__container--img img {
  width: 208px;
  height: 171px;
}

@media (width >= 744px) {
  .sectionsix__container--img img {
    width: 233px;
    height: 189px;
  }
}

@media (width >= 1280px) {
  .sectionsix__container--img img {
    width: 233px;
    height: 192px;
  }
}

.sectionsix__container--quote {
  grid-area: 1 / 1 / auto / 2;
  align-self: center;
  padding-top: 50px;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@media (width >= 744px) {
  .sectionsix__container--quote {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (width >= 1280px) {
  .sectionsix__container--quote {
    padding-top: 42px;
    padding-bottom: 30px;
  }
}

.sectionsix__content {
  grid-area: 2 / 1 / auto / 2;
}

.sectionsix__content--img {
  width: 62px;
  height: 62px;
}

.sectionsix__content--header {
  padding: 10px 0 5px;
}

@media (width >= 744px) {
  .sectionsix__content--header {
    padding: 20px 0 5px;
  }
}

.sectionsix__content--paragraph {
  color: #7c7c7c;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.sectionseven {
  grid-template-columns: 1fr;
  place-items: center;
  gap: 0;
  width: 100%;
  max-width: 700px;
  display: grid;
}

@media (width >= 744px) {
  .sectionseven {
    min-width: 700px;
    padding: 0 34px 140px;
  }
}

@media (width >= 1280px) {
  .sectionseven {
    min-width: 1194px;
    padding: 0 0 170px;
  }
}

.sectionseven__header {
  justify-self: self-start;
  padding: 0 30px 32px;
}

@media (width >= 744px) {
  .sectionseven__header {
    padding-left: 0;
    padding-right: 0;
  }
}

.sectionseven__container {
  text-align: left;
  grid-template-columns: 1fr;
  gap: 0;
  width: 100%;
  display: grid;
}

@media (width >= 744px) {
  .sectionseven__container {
    grid-template-columns: repeat(8, 70px);
    align-items: center;
    gap: 20px;
  }
}

@media (width >= 1280px) {
  .sectionseven__container {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

.sectionseven__content {
  background-color: #d6ecec;
  background-image: url("picture4.3533deb4.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 320px 173px;
  grid-area: 1 / 1 / auto / 2;
  min-height: 575px;
}

@media (width >= 744px) {
  .sectionseven__content {
    background-position: 100% 100%;
    background-size: 436px 226px;
    grid-area: 1 / 1 / auto / 9;
    min-height: 557px;
  }
}

@media (width >= 1280px) {
  .sectionseven__content {
    background-position: 83% 100%;
    background-size: 582px 302px;
    grid-area: 1 / 1 / auto / 13;
    grid-template-columns: repeat(12, 72px);
    gap: 56px 30px;
    min-height: 642px;
    display: grid;
  }
}

.sectionseven__list {
  flex-direction: column;
  padding: 30px 30px 50px;
  display: none;
}

@media (width >= 744px) {
  .sectionseven__list {
    grid-area: 1 / 4 / auto / 5;
    padding: 60px 90px 50px;
  }
}

@media (width >= 1280px) {
  .sectionseven__list {
    grid-area: 1 / 1 / auto / 12;
  }
}

.sectionseven__list--one {
  height: 270px;
}

@media (width >= 744px) {
  .sectionseven__list--one {
    min-height: 230px;
  }
}

@media (width >= 1280px) {
  .sectionseven__list--one {
    grid-area: 1 / 2 / auto / 6;
    padding: 60px 0 0;
  }
}

.sectionseven__list--two {
  height: 270px;
}

@media (width >= 744px) {
  .sectionseven__list--two {
    min-height: 230px;
  }
}

@media (width >= 1280px) {
  .sectionseven__list--two {
    grid-area: 2 / 2 / auto / 6;
    padding: 0 0 60px;
  }
}

.sectionseven__list--three {
  height: 270px;
}

@media (width >= 744px) {
  .sectionseven__list--three {
    min-height: 236px;
  }
}

@media (width >= 1280px) {
  .sectionseven__list--three {
    grid-area: 1 / 6 / auto / 10;
    padding: 60px 0 0;
  }
}

.sectionseven__list--title {
  color: #0c797a;
}

.sectionseven__list--items {
  flex-direction: column;
  margin-left: 10px;
  padding-top: 20px;
  list-style: outside;
}

@media (width >= 1280px) {
  .sectionseven__list--items {
    padding-top: 30px;
  }
}

.sectionseven__list--item {
  margin-left: 11px;
  padding-top: 10px;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.sectionseven .active {
  display: block;
}

.sectionseven__arrows {
  grid-area: 2 / 1 / auto / 2;
  justify-items: center;
  position: relative;
}

@media (width >= 1280px) {
  .sectionseven__arrows {
    display: none;
  }
}

.sectionseven__arrows--btnleft {
  position: absolute;
  top: 0;
  left: 113.5px;
}

@media (width >= 744px) {
  .sectionseven__arrows--btnleft {
    left: 90px;
  }
}

.sectionseven__arrows--btnright {
  position: absolute;
  top: 0;
  left: 158.5px;
}

@media (width >= 744px) {
  .sectionseven__arrows--btnright {
    left: 135px;
  }
}

.sectionseven__arrows--button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.sectionseven__arrows--left {
  width: 48px;
  height: 14px;
}

.sectionseven__arrows--left:hover {
  content: url("arrowlefthover.e076a1c4.png");
}

.sectionseven__arrows--right {
  width: 48px;
  height: 14px;
}

.sectionseven__arrows--right:hover {
  content: url("arrowhover.afb45256.png");
}

.sectionseven__arrows--pagenumber {
  color: #0c797a;
  justify-self: center;
  font-family: Inter, serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
  display: none;
  position: absolute;
  top: 22px;
  left: 137.5px;
}

@media (width >= 744px) {
  .sectionseven__arrows--pagenumber {
    left: 114px;
  }
}

.sectionseven__arrows .active {
  display: block;
}

.sectionseven__arrows--pagenumberone {
  color: #333;
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.sectioneight {
  text-align: left;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 27px;
  padding: 0 30px 110px;
  display: grid;
}

@media (width >= 744px) {
  .sectioneight {
    grid-template-columns: repeat(8, 70px);
    align-items: flex-start;
    gap: 20px;
    padding: 0 0 140px;
  }
}

@media (width >= 1280px) {
  .sectioneight {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
    padding: 0 0 170px;
  }
}

.sectioneight__header {
  justify-self: left;
  width: 259px;
}

@media (width >= 744px) {
  .sectioneight__header {
    grid-area: 1 / 1 / auto / 5;
    width: 339px;
  }
}

@media (width >= 1280px) {
  .sectioneight__header {
    grid-area: 1 / 1 / auto / 6;
    width: 584px;
  }
}

@media (width >= 744px) {
  .sectioneight__form {
    grid-area: 1 / 5 / auto / 9;
  }
}

@media (width >= 1280px) {
  .sectioneight__form {
    grid-area: 1 / -1 / auto / -7;
  }
}

.sectioneight__form--content {
  text-align: left;
  grid-template-columns: 1fr;
  gap: 20px;
  display: grid;
}

.sectioneight__form--label {
  display: none;
}

.sectioneight__form--input {
  height: 48px;
  padding: 20px 12px;
}

.sectioneight__form--textarea {
  resize: none;
  color: #333;
  border: 1px solid #828282;
  height: 128px;
  margin-bottom: 10px;
  padding: 20px 15px;
}

@media (width >= 744px) {
  .sectioneight__form--textarea {
    height: 201px;
  }
}

@media (width >= 1280px) {
  .sectioneight__form--textarea {
    height: 128px;
  }
}

.sectioneight__form--input, .sectioneight__form--textarea {
  box-sizing: border-box;
  text-align: left;
  color: #bdbdbd;
  background: none;
  border: 1px solid #828282;
  min-width: 260px;
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (width >= 744px) {
  .sectioneight__form--input, .sectioneight__form--textarea {
    width: 340px;
  }
}

@media (width >= 1280px) {
  .sectioneight__form--input, .sectioneight__form--textarea {
    width: 582px;
  }
}

.sectioneight__form--input::placeholder, .sectioneight__form--textarea::placeholder {
  color: #bdbdbd;
  text-align: left;
}

.sectioneight__form--input:focus, .sectioneight__form--textarea:focus {
  color: #333;
  border: 1px solid #0c797a;
  outline: none;
  font-family: Helvetica Neue, serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.sectioneight__form--input.error, .sectioneight__form--textarea.error {
  color: #eb57574d;
  font-family: Helvetica Neue, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  border: 1px solid #eb5757 !important;
}

.sectioneight__form--input.error::placeholder, .sectioneight__form--textarea.error::placeholder {
  color: #eb57574d !important;
}

.sectioneight--button {
  justify-self: left;
}

.footer {
  box-sizing: border-box;
  color: #333;
  text-align: center;
  grid-template-columns: 1fr;
  justify-content: center;
  place-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 20px;
  display: grid;
  overflow-x: hidden;
}

@media (width >= 744px) {
  .footer {
    grid-template-columns: repeat(8, 70px);
    align-items: flex-start;
    gap: 20px;
    padding: 0 34px 20px;
  }
}

@media (width >= 1280px) {
  .footer {
    gap: 30px;
    min-width: 1194px;
    padding: 0 0 20px;
  }
}

.footer__container {
  text-align: center;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 30px;
  display: grid;
}

@media (width >= 744px) {
  .footer__container {
    grid-area: 1 / 1 / auto / 9;
    grid-template-columns: repeat(8, 70px);
    gap: 60px 20px;
  }
}

@media (width >= 1280px) {
  .footer__container {
    grid-area: 1 / 1 / auto / 13;
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

.footer__logo {
  display: none;
}

@media (width >= 744px) {
  .footer__logo {
    grid-area: 1 / 1 / auto / 9;
    display: block;
  }
}

@media (width >= 1280px) {
  .footer__logo {
    grid-area: 1 / 1 / auto / 13;
  }
}

@media (width >= 744px) {
  .footer__logo--icon {
    width: 184px;
    height: 25px;
  }
}

.footer__content {
  flex-direction: row;
  justify-content: space-between;
  min-width: 152px;
  display: flex;
}

@media (width >= 744px) {
  .footer__content {
    grid-area: 2 / 1 / auto / 9;
  }
}

@media (width >= 1280px) {
  .footer__content {
    grid-area: 2 / 1 / auto / 13;
  }
}

.footer__icon {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
}

.footer__icon--facebook {
  box-sizing: border-box;
  width: 11px;
  height: 19px;
}

.footer__icon--twitter {
  width: 22px;
  height: 17px;
}

.footer__icon--instagram {
  width: 18px;
  height: 18px;
}

.footer__copyright {
  color: #bdbdbd;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (width >= 744px) {
  .footer__copyright {
    grid-area: 3 / 1 / auto / 9;
  }
}

@media (width >= 1280px) {
  .footer__copyright {
    grid-area: 3 / 1 / auto / 13;
  }
}

.footer__arrowUP {
  display: none;
}

@media (width >= 744px) {
  .footer__arrowUP {
    grid-area: 1 / 8 / auto / 9;
    justify-content: center;
    justify-self: right;
    align-items: center;
    width: 50px;
    height: 50px;
    display: flex;
  }
}

@media (width >= 1280px) {
  .footer__arrowUP {
    grid-area: 1 / 12 / auto / 13;
    width: 24px;
    height: 24px;
  }
}

@media (width >= 744px) {
  .footer__arrowUP--img {
    width: 25px;
    height: 21px;
  }
}

@media (width >= 1280px) {
  .footer__arrowUP--img {
    width: 24px;
    height: 20px;
  }
}

.sectionMenu {
  box-sizing: border-box;
  color: #333;
  background: #f9f9f9;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  transition: left .4s ease-in-out;
  position: absolute;
  top: 0;
  left: -150%;
}

@media (width >= 1280px) {
  .sectionMenu {
    display: none;
  }
}

.sectionMenu.active {
  left: 0;
}

.sectionMenu .nav {
  justify-content: space-between;
  justify-self: center;
  gap: 0 50px;
  margin: 0 auto;
  display: flex;
}

@media (width >= 744px) {
  .sectionMenu .nav {
    grid-template-rows: repeat(1, 76px);
    grid-template-columns: repeat(8, 70px);
    gap: 0 20px;
  }
}

@media (width >= 1280px) {
  .sectionMenu .nav {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

.sectionMenu .nav__logo {
  justify-self: left;
  width: 161px;
  height: 26px;
  padding: 24px 0 24px 30px;
}

@media (width >= 744px) {
  .sectionMenu .nav__logo {
    grid-area: 1 / 1 / auto / 5;
    align-self: center;
    padding: 24px 0 24px 34px;
  }
}

.sectionMenu .nav__right {
  justify-self: left;
  padding: 25px;
}

@media (width >= 744px) {
  .sectionMenu .nav__right {
    grid-area: 1 / 8 / auto / 9;
    place-self: center right;
    padding: 0;
  }
}

.sectionMenu .nav__right--icon {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
}

@media (width >= 744px) {
  .sectionMenu .nav__right--icon {
    padding: 25px;
  }
}

.sectionMenu .nav__right__close {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: auto;
  display: block;
}

.sectionMenu .nav__right--button {
  justify-self: center;
  padding: 162px 0 30px;
}

@media (width >= 744px) {
  .sectionMenu .nav__right--button {
    display: none;
  }
}

.sectionMenu .links__list {
  flex-direction: column;
  gap: 25px;
  padding: 31px 30px 0;
  list-style: none;
  display: flex;
}

@media (width >= 744px) {
  .sectionMenu .links__list {
    gap: 40px;
    padding: 40px 34px 0;
  }
}

.sectionMenu .links__item {
  color: #333;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media (width >= 744px) {
  .sectionMenu .links__item {
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Inter, serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }
}

.sectionMenu .links__link {
  color: #333;
  text-decoration: none;
}

.sectionMenu .links__link:hover {
  text-transform: uppercase;
  color: #131313;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@media (width >= 744px) {
  .sectionMenu .links__link:hover {
    text-transform: uppercase;
    font-family: Inter, serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
  }
}

.sectionMenu .options {
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 50px 0 0 30px;
  display: flex;
}

@media (width >= 744px) {
  .sectionMenu .options {
    display: none;
  }
}

.sectionMenu .menu-options {
  color: #4f4f4f;
  font-family: Helvetica Neue, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
}

.sectionMenu .navmenu__language {
  cursor: pointer;
  gap: 5px;
  font-family: Helvetica Neue, serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
}

.sectionMenu .navmenu__language .navmenu__language--switch {
  color: #bdbdbd;
  font-weight: 400;
  transition: color .3s;
}

.sectionMenu .navmenu__language .navmenu__language--switch.active {
  color: #333;
}

.sectionMenu .navmenu__language .navmenu__language--switch:hover {
  color: #333;
  transition: color;
}
/*# sourceMappingURL=index.971c2ea4.css.map */
